*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
    flex-direction: row;
}

header{
    height: 100px;
    background-color: orange;
}

nav{
    height: 100%;
    width: 80%;
    margin: 0 auto;
    background-color: blueviolet;
}

#logo{
    height: 30px;
}

.left-nav{
    height: 100%;
    width: 20%;
}

.right-nav{
    height: 100%;
    width: 20%;
}

.central-nav{
    height: 100%;
    width: 60%;
}

ul{
    list-style-type: none;
}