*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
    flex-direction: row;
}

.space-between{
    justify-content: space-between;
    gap: 5px;
}

header{
    background-color: orange;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 3;
}

nav{
    width: 70%;
    margin: 0 auto;
    padding: 20px 0px ;
}

#logo{
    height: 25px;
}

.left-nav li{
    padding-right: 5px;
}

.right-nav,
.left-nav {  
    width: 10%;
}

.central-nav{
    width: 20%;
    text-align: center;
}

ul{
    list-style-type: none;
}

.right-nav-images{
    width: 17px;
    
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.container{
    width: 70%;
    margin: 0 auto;
    margin-top: 40px;
    
}

.wrap{
    flex-wrap:wrap;
}

.align-content{
    align-content: space-between;
}

body{
    position: relative;
}

main{
    padding-top: 60px;
}

.container-card{
    position: relative;
    width: 33%;
    padding-bottom: 20px;
}

.card{
    position: relative;
}

.hover-card{
    position: absolute;
}

.container-card:hover .hover-card{
    z-index: 1;
}

.discount-red{
    background-color: red;
    padding: 10px;
}

.discount-green{
    background-color: green;
    padding: 10px;
}

.discount-container{
    position: absolute;
    bottom: 17%;
    left: 0;
    z-index: 2;
    color: white;
}

.card-image{
    width: 100%;
}

.heart-container{
    background-color: white;
    position: absolute;
    color: black;
    padding: 5px 13px;
    right: 0;
    top: 5px;
    font-size: 35px;
    z-index: 2;
}

.gray-content{
    color: gray;
    font-size: 11px;
}

.black-content{
    color: black;
    font-size: 15px;
    font-weight: 900;
    text-transform: uppercase;
}

.description-price-red{
    color: red;
}

.description-discount-underlined{
    color: black;
}