*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
    flex-direction: row;
}

.space-between{
    justify-content: space-between;
}

header{
    background-color: orange;
    color: white;
}

nav{
    width: 70%;
    margin: 0 auto;
    padding: 20px 0px ;
}

#logo{
    height: 25px;
}

.left-nav{
    width: 10%;
}

.left-nav li{
    padding-right: 5px;
}

.right-nav{  
    width: 10%;
}

.central-nav{
    width: 20%;
    text-align: center;
}

ul{
    list-style-type: none;
}

.right-nav-images{
    width: 17px;
    
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.container{
    width: 70%;
    margin: 0 auto;
    height: 900px;
    background-color: chartreuse;
    margin-top: 40px;
}

.container>div{
    width: calc(100% / 3);
    height: 40%;
    background-color: rgb(207, 28, 28);
}

.wrap{
    flex-wrap:wrap;
}